{
  "arrowParens": "avoid",
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": true,
  "useTabs": true
}
